.button {
    position: relative;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    border-radius: 2px;
    color: rgba(0,0,0,.65);
    background: #fff;
    border-color: #d9d9d9;

    background-position: center;
    transition: background 0.8s;
}

.button:focus {
    outline: none;
}

.button:active {
    outline: none;
    background-color: #f6f5f5;
    background-size: 100%;
    transition: background 0s;
}